html, body {
  overflow-x: hidden;
  max-width: 100vw;
}
* {
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
    :root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --header-bg: rgba(255, 255, 255, 0.8);
  --border-color: #ddd;
  --accent-color: #0073e6;
  --btn-login-bg: #e0e0e0;
  --btn-login-hover: #d5d5d5;
  --btn-join-bg: #0073e6;
  --btn-join-hover: #005bb5;
  --footer-bg: #f1f1f1;
  --footer-text: #555;
  --burger-color: #333;
  --h-one-color: #333;
  --uderline-color: orange;
  --logo-color: #333;
  --border-color-info-panel: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: #e0e0e0;
    --header-bg: rgba(18, 18, 18, 0.8);
    --border-color: #333;
    --accent-color: #bb86fc;
    --btn-login-bg: #333;
    --btn-login-hover: #444;
    --btn-join-bg: #bb86fc;
    --btn-join-hover: #9a67ea;
    --footer-bg: #1e1e1e;
    --footer-text: #aaa;
    --burger-color: #e0e0e0;
    --h-one-color: #e0e0e0;
    --uderline-color: orange;
    --logo-color: #e0e0e0;
    --border-color-info-panel: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.accordion-toggle:hover,
.accordion-toggle:focus {
  background-color: transparent;
  outline: none;
}

 .playfair{
    font-family: 'Playfair Display', serif;
 }
  
.highlight {
  background-color: rgba(255, 165, 0, 0.4);
  padding: 0.2rem;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.italic-x {
  font-style: italic;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.search-icon span {
  font-size: 24px;
  color: var(--text-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-icon:hover span {
  color: var(--accent-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .search-icon {
    margin-right: 1rem;
  }
}

.search-input {
  display: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 50px;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 30%;
  margin-right: 25px;
  color: var(--text-color);
  background-color: var(--footer-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.search-input.active {
  display: block;
  opacity: 1;
  pointer-events: all;
  top: 50px;
  right: 0;
}

.search-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.search-input::placeholder {
  color: var(--text-color);
  font-weight: 300;
}

.search-input.active::placeholder {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .search-input {
    width: 90%;
    right: 5%;
    left: 5%;
  }
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: var(--accent-color);
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #005bb5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: var(--header-bg);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
}

.material-icons {
  font-size: 20px;
  color: var(--text-color);
  transition: transform 0.3s ease;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--logo-color);
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
  height: 14px;
  width: 20px;
  z-index: 10000;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: var(--burger-color);
  transition: all 0.3s ease;
}

.burger.toggle div:nth-child(1) {
  transform: translateY(2.5px) rotate(45deg);
}

.burger.toggle div:nth-child(2) {
  transform: translateY(-2.5px) rotate(-45deg);
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}

h1[data-aos]::after,
h2[data-aos]::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, #007BFF, #FF69B4, #8A2BE2);
  transition: width 0.5s ease;
}

h1[data-aos].aos-animate::after,
h2[data-aos].aos-animate::after {
  width: 100%;
}

.about-section {
  flex: 1;
  padding: 100px 2rem 3rem;
  max-width: 1000px;
  margin: 0 auto;
}

.about-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--text-color);
}

.about-section p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.info-section {
  padding: 2rem;
  margin-bottom: 2rem;
  background: var(--header-bg);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 0 8px rgba(245, 245, 245, 0.3), inset 0 0 20px rgba(245, 245, 245, 0.3); 
  border: 1px solid var(--border-color-info-panel);
}

.info-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.info-section p {
  font-size: 1rem;
}

footer {
  background: var(--footer-bg);
  color: var(--footer-text);
  text-align: left;
  padding: 2rem;
  margin-top: auto;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

footer p {
  font-size: 0.9rem;
  color: var(--footer-text);
  margin-top: 1rem;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--btn-join-hover);
}

footer .footer-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

footer .footer-section {
  width: 23%;
  margin-bottom: 2rem;
}

footer .footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer .footer-divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 2rem 0;
  display: block;
}

.footer-accordion {
  display: none;
  width: 100%;
}

.accordion-item {
  margin: 0;
  padding: 0;
}

.accordion-toggle {
  background-color: var(--footer-bg);
  border: none;
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px;
  transition: background-color 0.3s;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.accordion-toggle .arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.accordion-toggle.open .arrow {
  transform: rotate(180deg);
}

.accordion-content {
  display: block;
  height: 0;
  overflow: hidden;
  margin-left: 20px;
  margin-top: -1px;
  padding: 0 1rem;
  color: var(--footer-text);
  transition: height 0.3s ease;
}

.accordion-content ul {
  list-style: none;
  margin-top: 6px;
  padding: 0;
}

.accordion-content ul li {
  margin-bottom: 0.5rem;
}

.accordion-content ul li a {
  color: var(--footer-text);
  font-size: 1rem;
}

.accordion-content ul li a:hover {
  color: var(--accent-color);
}

@media (max-width: 1024px) {
  footer .footer-columns {
    flex-direction: row;
    align-items: center;
  }

  footer .footer-section {
    width: 48%;
    margin-bottom: 1.5rem;
    border-right: 1px solid var(--border-color);
  }

  footer .footer-section:last-child {
    border-right: none;
  }

  .footer-divider {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-section {
    width: 100%;
    margin-bottom: 1.5rem;
    border-right: none;
  }

  .footer-accordion {
    display: block;
  }

  footer .footer-columns {
    display: none;
  }

  .footer-divider {
    display: block;
  }
}

@media (max-width: 350px) {
  footer .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-section {
    width: 100%;
    margin-bottom: 1.5rem;
    border-right: none;
  }

  .footer-divider {
    display: block;
  }
}

@media (max-width: 768px) {
  .nav-links {
        padding-bottom: 150px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--footer-bg);
    height: calc(100vh - 0px);
    z-index: 9999;
    width: 100%;
    background-color: var(--footer-bg);
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  .nav-links li {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .nav-active {
    transform: translateX(0);
  }

  .burger {
    display: flex;
  }
}

.info-section {
  overflow: hidden;
}

.info-section h2 .material-icons {
  font-size: 30rem;
  color: var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.info-section:hover .material-icons {
  opacity: 0.1;
}



.hero {
  border-bottom: 1px solid var(--border-color);
  position: relative;
  padding: 80px 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: url('image.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 60vh;
}
@media (max-width: 768px) {
  .hero {
    min-height: 90vh;
  }
}
.hero-content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 12px 14px;
  margin: 10px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: linear-gradient(45deg, #0073e6, #005bb5);
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #005bb5, #003f8a);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-secondary {
  background: linear-gradient(45deg, #6c757d, #545b62);
  color: white;
}

.btn-secondary:hover {
  background: linear-gradient(45deg, #545b62, #3a3f44);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-primary:active, .btn-secondary:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1024px) {
  .hero {
    background-image: url('image.svg');
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url('image.svg'); 
  }
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-svg {
    width: 25px;
    height: 25px;
    display: block;
}

#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.logo {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex; 
    align-items: center;
}

.logo.transparent, #logo.transparent {
    opacity: 0;
}
.hero-content h1, 
.hero-content h2 {
  display: inline;
  background: linear-gradient(transparent 60%, rgba(255, 215, 0, 0.7) 100%);
  padding: 0 5px;
}

@media (prefers-color-scheme: dark) {
  .hero-content h1, 
  .hero-content h2 {
    background: linear-gradient(transparent 60%, rgba(0, 174, 239, 0.7) 100%);
  }

  .logo-svg circle {
    stroke: var(--text-color);
  }

  .logo {
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  .logo-svg circle {
    stroke: var(--text-color);
  }

  .logo {
    color: var(--text-color);
  }
}




.events-section {
      padding: 100px 2rem 3rem;
      max-width: 1200px;
      margin: 0 auto;
      flex: 1;
    }
    .events-section h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      text-align: left;
      color: var(--text-color);
    }
    .events-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }
    
    .event-item {
      overflow: hidden;
      background: var(--header-bg);
      border-radius: 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 0 8px rgba(245, 245, 245, 0.3), inset 0 0 20px rgba(245, 245, 245, 0.3); 
      border: 1px solid var(--text-color);
    }
    .event-item img {
      width: 100%;
      display: block;
    }
    .event-info {
      padding: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .event-info h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: var(--text-color);
    }
    .event-info p {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  .current-month-year { 
      display:none;
  }
.register-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.register-button:hover {
  background-color: var(--secondary-color);
}
